# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/carsempire/public_html/app"
PassengerBaseURI "/"
PassengerNodejs "/home/carsempire/nodevenv/public_html/app/20/bin/node"
PassengerAppType node
PassengerStartupFile server.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END